<div class="container mat-elevation-z8">

    <div class="box1">

        <mat-toolbar class="d-flex justify-content-center">
            <div>
                <h1>Usuarios</h1>
            </div>
        </mat-toolbar>

        <div class="search">
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput class="inputs" (keyup)="applyFilter($event)" placeholder="Filtro de Roles" #input>
            </mat-form-field>
        </div>
        <div class="button-add">
            <button mat-fab color="primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <!-- <mat-toolbar>
            <span>Usuarios</span>
            <div class="button-add">
                <button mat-fab  color="primary" (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>    
        </mat-toolbar> -->

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> <a (click)="getElement(element.id)">{{element.userName}}</a>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                    <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
                </ng-container>

                <ng-container matColumnDef="stateSession">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Sesión </th>
                    <td mat-cell *matCellDef="let element"> {{element.stateSession}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th style="text-align: right" mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let element" style="text-align: right">
                        <a class="pointer" style="color: #E09108;" matTooltip="Editar usuario"
                            (click)="onUpdateUsers(element)">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" style="color: #6C685D;" matTooltip="Eliminar usuario"
                            (click)="onDelete(element.id)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>
</div>